body {
    background-color: hsl(0, 0%, 95%);
}
.grid-layout{
    display: grid;
    height: 900px;
    grid-template-columns: 15% 23.5% auto 23.5% 15%;
    grid-template-rows: 20% 10% 10% 25% 10% 5% 20%;
    text-align: center;
    width: 80%;
    margin: 10% 1% 1% 10%;
    background-color: hsl(0, 0%, 95%);
    border-radius: 5px;
    box-shadow: 1px 30px 50px hsl(0, 0%, 70%);
}
.caja{
    padding: 20px;
    text-align: left;;
}
.c1{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: hsl(31, 77%, 52%);
    text-align: start;
    padding: 50px 47px;
    border-top-left-radius: 5px;
}
.c2{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: hsl(184, 100%, 22%);
    text-align: start;
    padding: 50px 40px;
}
.c3{
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: hsl(179, 100%, 13%);
    text-align: start;
    padding: 50px 42px;
    border-top-right-radius: 5px;
}
.c4{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: hsl(31, 77%, 52%);
    text-align: left;
    padding: 10px 47px;
}
.c5{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: hsl(184, 100%, 22%);
    text-align: initial;
    padding: 10px 40px;
}
.c6{
    grid-column: 4/5;
    grid-row: 3/4;
    background-color: hsl(179, 100%, 13%);
    text-align: start;
    padding: 10px 42px;
}
.c7{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: hsl(31, 77%, 52%);
    font-size: 15px;
    padding: 10px 47px;
}
.c8{
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: hsl(184, 100%, 22%);
    font-size: 15px;
    padding: 10px 40px;
}
.c9{
    grid-column: 4/5;
    grid-row: 4/5;
    background-color: hsl(179, 100%, 13%);
    font-size: 15px;
    padding: 10px 42px;
    
}
.c10{
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: hsl(31, 77%, 52%);
    padding: 10px 47px;
}
.c11{
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: hsl(184, 100%, 22%);
    padding: 10px 40px;
}
.c12{
    grid-column: 4/5;
    grid-row: 5/6;
    background-color: hsl(179, 100%, 13%);
    padding: 10px 42px;
}
.c13{
    grid-column: 2/3;
    grid-row: 6/7;
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 5px;
}
.c14{
    grid-column: 3/4;
    grid-row: 6/7;
    background-color: hsl(184, 100%, 22%);
    
}
.c15{
    grid-column: 4/5;
    grid-row: 6/7;
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 5px;
}
.btn-1{
    display: grid;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    color: hsl(31, 77%, 52%);
    background-color: white;
    height: 40px;
    width: 130px;
    text-align: center;
    margin: 1px;
    align-items: center;
    font-size: 10px;
}
.btn-1:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.btn-2 {
    display: grid;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    color: hsl(184, 100%, 22%);
    background-color: white;
    height: 40px;
    width: 130px;
    text-align: center;
    margin: 1px;
    align-items: center;
    font-size: 10px;
}
.btn-2:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.btn-3{
    display: grid;
    border-radius: 20px;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    color: hsl(179, 100%, 13%);
    background-color: white;
    height: 40px;
    width: 130px;
    text-align: center;
    margin: 1px;
    align-items: center;
    font-size: 10px;
}
.btn-3:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}